:root{
  --header-height-px: 54px;
  --color-snow: rgb(250, 250, 250);
  --add-comment-box-height-px: 56px;
  background-color: var(--color-snow);
}

input {
  background: none;
  border: 0;
}

textarea {
  resize: none;
  border: 0;
}

button {
  color: #0095f6;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.test-auth {
  width: 600px;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--color-snow);
}

.shimmer-wrapper {
  width: 0px;
  animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.shimmer {
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}


.break {
  flex-basis: 100%;
  height: 0;
}

.header {
  top: 0;
  position: fixed;
  background-color: white;
  height: var(--header-height-px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.profile-area {
  position: relative;
  display: inline-block;
}

.header-icon {
  height: 27.5px;
  margin-right: 10px;
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-position: 50% 50%;
  object-fit: cover;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  display: block;
  background-color: rgba(255,255,255,1);
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
  z-index: 3;
  min-width: 200px;
}

.profile-dropdown * {
  width: 100%;
}

.profile-dropdown button {
  background-color: rgba(255,255,255,1);
  border: 0;
  border-top: 1px solid lightgray;
  padding: 8px;
  max-height: 33px;
  text-align: left;
  font-weight: bold;
}

.profile-dropdown button:hover {
  background-color: var(--color-snow);
}

.profile-info {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.profile-info * {
  width: 100%;
}

.profile-icon-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-icon {
  height: 32px;
  border-radius: 50%;
}

.profile-name {
  font-weight: bold;
}

.profile-email {
  font-style: italic;
  font-size: .8rem;
  padding-top: 8px;
}

.login-emoji {
  width: 100%;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.search-input {
  background-color: var(--color-snow);
  border: lightgray 1px solid;
  padding: 7.55px;
  width: 200px;
  text-align: center;
}

.body {
  margin-top: calc(var(--header-height-px)*2);
  justify-content: center;
}

.body .submit-post {
  margin-top: var(--header-height-px);
  justify-content: center;
}

.post {
  margin: auto;
  display: block;
  /* min-width: 57.75%; */
  max-width: 600px;
  /* width: 600px; */
  background-color: white;
  border: lightgray 1px solid;
  margin-bottom: 0;
  margin-top: 60px;
}

.post-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.username, .likes {
  font-weight: 700;
}

.likes {
  padding-left: 16px;
  padding-bottom: 8px;
}

.post-header .username {
  padding-left: 8px;
}

.profile-photo {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-position: 50% 50%;
  object-fit: cover;
}

.post-image {
  object-position: 50% 50%;
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 16px;
}

.button-bar .post-icon {
  height: 27.5px;
  margin-right: 16px;
}

.button-bar .post-save {
  margin-right: 0;
}

.caption-area {
  padding: 0px 16px 8px 16px;
}

.caption, .comment-text {
  margin-left: 8px;
}

.view-all-comments {
  margin: 0px 16px 8px 16px;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: #8E8E8E;
}

.comment {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 8px 16px;
}

.comment-text-area .username {
  margin-left: 0;
}

.comment-text-area {
}

.comment-like-icon {
  height: 12px;
  width: 12px;
}

.more-text {
  color: #8E8E8E;
  cursor: pointer;
}

.more-text:hover {
  font-weight: bold;
}

.add-comment-area {
  border-top: lightgray 1px solid;
  min-height: var(--add-comment-box-height-px);
}

.add-comment-area form {
  min-height: var(--add-comment-box-height-px);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.add-comment-text-area {
  padding: 4px 8px;
  max-height: fit-content;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

.add-comment-text-area:focus {
  outline: 0;
}

.wrap {
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  white-space: normal;
}

[contenteditable=true]:empty:before{
  color:#8E8E8E;
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

.submit-comment {
  padding-left: 16px;
  padding-right: 16px;
  color: #0095f6;
  font-weight: bold;
  height: var(--add-comment-box-height-px);
  /* width: 100%; */
}

.disabled {
  color: rgba(0, 149, 246,0.3);
  pointer-events: none;
}

.emoji-icon {
  height: 30px;
  width: 30px;
  margin: 8px 16px 8px 0;
}

.submit-post {
  display: flex;
}

.submit-post img {
  max-width: 64.17%;
}

.add-post-info {
  min-width: 35.83%;
  width: 335px;
}

.submit-post form{
  padding: 16px;
}

.submit-new-post-input, .add-username-input {
  margin-bottom: 16px;
  border-bottom: 1px solid #8E8E8E;
  text-align: left;
}

.submit-new-post-input {
  width: 100%;
}

.submit-new-post-input:focus, .add-username-input:focus {
  outline: none;
}

.submit-new-post-input::placeholder, .add-username-input::placeholder {
  font-size: 1rem;
  color: #8E8E8E;
}

#caption {
  min-height: 55.5px;
  font-size: 1rem;
}

#url {
  margin-bottom: 4px;
}

#url-error {
  height: 8px;
  font-size: 12px;
  color: red;
  margin-bottom: 20px;
}

.submit-new-post-div {
  display: flex;
  justify-content: space-between;
}

/* .submit-new-post-btn, .add-username-btn { */
.add-username-btn {
  color: #0095f6;
  font-weight: bold;
}

.submit-new-post-btn {
  width: stretch;
}

.preview-image {
  object-position: 50% 50%;
  object-fit: contain;
  max-height: 600px;
}

.username-modal, .welcome-modal {
  display: flex;
  flex-wrap: wrap;
  padding: var(--header-height-px);
  justify-content: center;
  align-items: center;
}

.username-modal > * {
  margin-bottom: 16px;
}

.username-modal h1, form, .welcome-modal h1 {
  width: 100%;
  text-align: center;
}

.username-modal p {
  /* width: 40%; */
  text-align: center;
}

.username-modal form {
  width: 40%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-modal * {
  margin-bottom: 16px;;
}

.welcome-modal input {
  max-width: 50%;
}

.welcome-modal button {
  /* margin-bottom: 0px; */
  display: block;
}

.welcome-modal .break {
  margin-bottom: 0px;
}

.profile-image-preview {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-position: 50% 50%;
  object-fit: cover;
}

.add-username-input {
  width: 70%;
  margin-bottom: 0;
}

.btn-skip {
  display: inline-block;
  color: #8E8E8E;
  font-weight: normal;
  margin-bottom: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 20%; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10%;
  /* border: 1px solid #888; */
  max-width: 935px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.loading {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}