:root{
  --header-height-px: 54px;
  --color-snow: rgb(250, 250, 250);
  --add-comment-box-height-px: 56px;
  background-color: var(--color-snow);
}

input {
  background: none;
  border: 0;
}

textarea {
  resize: none;
  border: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.test-auth {
  width: 600px;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--color-snow);
}

.header {
  top: 0;
  position: fixed;
  background-color: white;
  height: var(--header-height-px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 57.75%;
  max-width: 600px;
}

.header-affordances {
  display: flex;
  position: relative;
  right: 0;
}

.header-icon {
  height: 27.5px;
  margin-right: 10px;
}

.profile-icon {
  height: 30px;
}

.profile-dropdown {
  position: absolute;
  right: 0%;
  background-color: rgba(255,255,255,1);
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
  z-index: 3;
  min-width: 200px;
}

.profile-dropdown button {
  background-color: rgba(255,255,255,1);
  border: 0;
  border-top: 1px solid lightgray;
  padding: 8px;
  width: 100%;
  max-height: 33px;
  text-align: left;
  font-weight: bold;
}

.profile-dropdown button:hover {
  background-color: var(--color-snow);
}

.profile-info {
  padding: 8px;
}

.profile-icon-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-icon {
  height: 32px;
  border-radius: 50%;
}

.profile-name {
  padding-left: 8px;
  font-weight: bold;
}

.profile-email {
  font-style: italic;
  font-size: .8rem;
  padding-top: 8px;
}

.login-emoji {
  width: 100%;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.search-input {
  background-color: var(--color-snow);
  border: lightgray 1px solid;
  padding: 7.55px;
  width: 200px;
  text-align: center;
}

.body {
  margin-top: var(--header-height-px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 600px;
  background-color: white;
  border: lightgray 1px solid;
  margin-top: 60px;
}

.post-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.username, .likes {
  font-weight: 700;
}

.likes {
  padding-left: 16px;
  padding-bottom: 8px;
}

.post-header .username {
  padding-left: 8px;
}

.profile-photo {
  height: 32px;
  border-radius: 50%;
}

.post-image {
  width: 100%;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 16px;
}

.button-bar .post-icon {
  height: 27.5px;
  margin-right: 16px;
}

.button-bar .post-save {
  margin-right: 0;
}

.caption-area {
  padding: 0px 16px 8px 16px;
}

.caption, .comment-text {
  margin-left: 8px;
}

.view-all-comments {
  margin: 0px 16px 8px 16px;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: #8E8E8E;
}

.comment {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 8px 16px;
}

.comment-text-area .username {
  margin-left: 0;
}

.comment-text-area {
}

.comment-like-icon {
  height: 12px;
  width: 12px;
}

.more-text {
  color: #8E8E8E;
  cursor: pointer;
}

.more-text:hover {
  font-weight: bold;
}

.add-comment-area {
  border-top: lightgray 1px solid;
  min-height: var(--add-comment-box-height-px);
}

.add-comment-area form {
  min-height: var(--add-comment-box-height-px);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.add-comment-text-area {
  padding: 4px 8px;
  /* min-height: var(--add-comment-box-height-px); */
  max-height: fit-content;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-comment-text-area:focus {
  outline: 0;
}

.wrap {
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  white-space: normal;
}

[contenteditable=true]:empty:before{
  color:#8E8E8E;
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

.submit-comment {
  padding-left: 4px;
  color: #0095f6;
  font-weight: bold;
  height: var(--add-comment-box-height-px);
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.emoji-icon {
  height: 30px;
  width: 30px;
  margin: 8px 16px 8px 0;
}